<h1 class="mb-4 ms-2">All Restaurants</h1>
<%= link_to "Add New Restaurant", new_restaurant_path, class: "btn btn-primary mb-3 ms-3" %>
<ul class="list-group">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item">
      <h5>
        <%= link_to restaurant.name, restaurant_path(restaurant), class: "text-decoration-none" %>
      </h5>
      <p class="mb-1">
        <strong>Address:</strong> <%= restaurant.address %><br>
        <strong>Phone:</strong> <%= restaurant.phone_number %><br>
        <strong>Category:</strong> <%= restaurant.category.capitalize %>
      </p>
    </li>
  <% end %>
</ul>
